
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- Included JS Files (Uncompressed) -->
<script src="{{ root_url }}/assets/javascripts/foundation/jquery.foundation.topbar.js"></script>
<script src="{{ root_url }}/assets/javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
<script src="{{ root_url }}/assets/javascripts/highlight.pack.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="{{ root_url }}/assets/javascripts/foundation/app.js"></script>

<script src="{{ root_url }}/assets/javascripts/milkandtang.js"></script>

{% include disqus.html %}
{% include facebook_like.html %}
{% include google_plus_one.html %}
{% include twitter_sharing.html %}
{% include custom/after_footer.html %}
