<hr/>
<div id="footer" class="row">
	<div class="four columns">
		<p>&copy; {{ site.time | date: "%Y" }} {{ site.author }}, <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">(CC BY 3.0)</a>.</p>
	</div>
	<div class="eight columns">
		<ul class="inline-list right">
			<li><a href="https://twitter.com/milkandtang/">Twitter/@milkandtang</a></li>
			<li><a href="https://alpha.app.net/fardog">ADN/@fardog</a></li>
			<li><a href="https://github.com/fardog">GitHub/@fardog</a></li>
			<li><a href="http://fardogllc.com">Far Dog LLC</a></li>
		</ul>
	</div>
</div>